<div class="container">
    <h1><%= @project.title %></h1>


    <ul class="project-users">
        <%= render @project.users %>
    </ul>

    <br>

    <div class="dropdown float-right">
      <a class="btn btn-secondary dropdown-toggle" id="project-add-contribution" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add Contribution
      </a>

      <div class="dropdown-menu" aria-labelledby="project-add-contribution">
        <%= link_to 'Add Image', new_contribution_image_path, class: 'dropdown-item' %>
        <%= link_to 'Add Text', new_contribution_text_path, class: 'dropdown-item' %>
      </div>
    </div>

</div>

<div class="project-about-container--full">
    <div class="project-about">
        <div class="project-about__icon">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-info fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <div class="project-about__description">
            <h1>Über <%= @project.title %></h1>
            <p><%= @project.description %></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="contributions-list">
        <%= render @project.contributions %>
    </div>
</div>
